<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tromto.boardmydog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.tromto.boardmydog.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tromto.boardmydog.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/woof7"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Addinfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddDog"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Messagethread"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Doguserdetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DaycareDetail"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Takepic"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login Account"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:label="Register New Account"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.tromto.boardmydog" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Event"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".BigPicture"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Dogtoprofile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Takeprofilepic"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Updatedaycare"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Updatedog"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
